<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- swal -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        body {
            background-color: black;
        }
    </style>
    <link rel="shortcut icon" href="https://orig00.deviantart.net/9b77/f/2014/296/e/e/band_logo___college_prep_work_by_smugsyquinn-d83vfed.png" type="image/x-icon"/>
    <title>Chronos</title>
</head>

<body>
    <div id="app">
        <navbar @show-cd="getShowCd" @show-merch="getShowMerch" @show-all="getShowAll" @all-items="getItemToSearch" v-bind:tokenget="tokenData"
            v-bind:propsistoken="isTokenProps" @islogout="getIslogoutMethod" v-bind:resultcartprops="cart"></navbar>
        <br>

        <modal-login @data-token="getToken"></modal-login>
        <modal-register></modal-register>
        <modal-cart v-bind:cartsfromparent="cart" @sentiditem="getiditemfromcart" :tocartprops="addtocartState" @nolincart="nolincart"></modal-cart>
        <carousel></carousel>
        <sale-bonus></sale-bonus>

        <item-show :itemshow="ItemToShow" v-bind:tokenget="tokenData" v-bind:propsistoken="isTokenProps" v-bind:islogoutprops="isLogout"
            @resultcart="resultClickedCart" :nolincart="statusNullCart"></item-show>
        <item-cd v-if="showCd" v-bind:tokenget="tokenData" v-bind:propsistoken="isTokenProps" v-bind:islogoutprops="isLogout" @resultcart="resultClickedCart" @data-emit-add-to-cart="addToCartEmit" :nolincart="statusNullCart"></item-cd>
        <!-- <item-merch v-if="showMerch" v-bind:tokenget="tokenData" v-bind:propsistoken="isTokenProps" v-bind:islogoutprops="isLogout"
            @resultcart="resultClickedCart"></item-merch> -->

        <carousel-video></carousel-video>
        <footer-cp></footer-cp>
    </div>
    <script src="./Components/ModalCart.js"></script>
    <script src="./Components/ModalRegister.js"></script>
    <script src="./Components/ModalLogin.js"></script>
    <script src="./Components/ItemToShow.js"></script>
    <script src="./Components/ItemMerchComponent.js"></script>
    <script src="./Components/ItemComponent.js"></script>
    <script src="./Components/Navbar.js"></script>
    <script src="./Components/DiscountBanner.js"></script>
    <script src="./Components/CarouselImage.js"></script>
    <script src="./Components/CarouselVideo.js"></script>
    <script src="./Components/Footer.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        var baseUrl = "https://chronos.andresudi.club"
        var app = new Vue({
            el: '#app',
            data: {
                isLogin: false,
                cart: [],
                showCd: true,
                showMerch: true,
                ItemToShow: [],
                tokenData: '',
                isToken: '',
                isTokenProps: false,
                isLogout: true,
                idItem: '',
                datacart: '',
                addtocartState: [],
                statusNullCart: false
            },
            methods: {
                nolincart(value) {   
                  this.cart = value

                    if(this.statusNullCart) {
                        this.statusNullCart = false
                    } else {
                        this.statusNullCart = true
                    }
                },

                getShowCd(value) {
                    this.showCd = value
                    this.showMerch = true
                    this.ItemToShow = []
                },

                getShowMerch(value) {
                    this.showMerch = value
                    this.showCd = true
                    this.ItemToShow = []
                },

                getShowAll() {
                    this.showMerch = true
                    this.showCd = true
                    this.ItemToShow = []
                },

                getItemToSearch(value) {
                    this.ItemToShow = value
                    this.showMerch = false
                    this.showCd = false
                },

                addToCart(item) {
                    this.cart.push(item)
                },

                getToken(value) {
                    this.tokenData = value
                },
                getIslogoutMethod(value) {
                    if (this.isLogout) {
                        this.isLogout = false
                    } else {
                        this.isLogout = true
                    }

                },
                resultClickedCart(value) {
                    this.cart = value
                },

                getiditemfromcart(value) {
                    this.idItem = value
                },

                addToCartEmit(item) {
                    this.addtocartState.push(item)
                }
            },
            mounted() {
                this.isToken = localStorage.getItem('token')
                if (this.isToken) {
                    this.isTokenProps = true
                }
            },
            watch: {
                isToken() {
                    this.isToken = localStorage.getItem('token')
                    if (this.isToken) {
                        this.isTokenProps = true
                    }
                },
            }
        })
    </script>
</body>

</html>